.player-final-score {
  width: 85px;
  height: 85px;
  margin: 0 35px;
  background: #fff;
  border-radius: 20px;
  font-size: 25px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}
